# DateTime in Pandas

* Pamdas has some great methods for handling dates and times, such as to_datetime() and to_timedelta().

## DateTime Properties

** Covert string object into datetime object **

* The to_datetime() method converts the date and time in string format to a DateTime object:

In [9]:
# Import Libraries
import numpy as np 

import pandas as pd
import datetime

In [10]:
data = pd.read_csv('timeseries.csv')

In [11]:
data.head(3)

          City Colors Reported Shape Reported State             Time
0       Ithaca             NaN       TRIANGLE    NY   6/1/1930 22:00
1  Willingboro             NaN          OTHER    NJ  6/30/1930 20:00
2      Holyoke             NaN           OVAL    CO  2/15/1931 14:00

In [13]:
data.info()
#Time is string objecct

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18241 entries, 0 to 18240
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   City             18216 non-null  object
 1   Colors Reported  2882 non-null   object
 2   Shape Reported   15597 non-null  object
 3   State            18241 non-null  object
 4   Time             18241 non-null  object
dtypes: object(5)
memory usage: 712.7+ KB

In [14]:
data['Time'] = pd.to_datetime(data.Time)

In [16]:
data.info()
#We can see the string object  changed into the datetime object

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18241 entries, 0 to 18240
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   City             18216 non-null  object
 1   Colors Reported  2882 non-null   object
 2   Shape Reported   15597 non-null  object
 3   State            18241 non-null  object
 4   Time             18241 non-null  datetime64[ns]
dtypes: datetime64[ns](1), object(4)
memory usage: 712.7+ KB

** Check time properties **

In [22]:
#Time
print('Time:',data['Time'].dt.time.head(1))
#Hour
print('Hour:',data['Time'].dt.hour.head(1))
#Minute
print('Minute:',data['Time'].dt.minute.head(1))
#Microsecond
print('Microsecond:',data['Time'].dt.microsecond.head(1))
#Nanosecond
print('Nanosecond:',data['Time'].dt.nanosecond.head(1))

Time: 0    22:00:00
Name: Time, dtype: object
Hour: 0    22
Name: Time, dtype: int64
Minute: 0    0
Name: Time, dtype: int64
Microsecond: 0    0
Name: Time, dtype: int64
Nanosecond: 0    0
Name: Time, dtype: int64

** Check Day,Month,Year properties **

** DAY **

In [32]:
#Day
print('Day:',data['Time'].dt.day.head(1))
#Day of week
print('Day of week:',data['Time'].dt.dayofweek.head(1))
print('Day of week:',data['Time'].dt.weekday.head(1))
#Day of year
print('Day of year:',data['Time'].dt.dayofyear.head(1))
#Total days in month
print('Total days in month:',data['Time'].dt.daysinmonth.head(1))

Day: 0    1
Name: Time, dtype: int64
Day of week: 0    6
Name: Time, dtype: int64
Day of week: 0    6
Name: Time, dtype: int64
Day of year: 0    152
Name: Time, dtype: int64
Total days in month: 0    30
Name: Time, dtype: int64

** WEEK **

In [33]:
#Week
print('Week:',data['Time'].dt.week.head(1))
#Week of year
print('Week of year:',data['Time'].dt.weekofyear.head(1))

Week: 0    22
Name: Time, dtype: int64
Week of year: 0    22
Name: Time, dtype: int64

** MONTH **

In [28]:
#Month
print('Month:',data['Time'].dt.month.head(1))
#Month Start or not
print('Month start or not:',data['Time'].dt.is_month_start.head(1))
#Month End or not
print('Month End or not:',data['Time'].dt.is_month_end.head(1))

Month: 0    6
Name: Time, dtype: int64
Month start or not: 0    True
Name: Time, dtype: bool
Month End or not: 0    False
Name: Time, dtype: bool

** YEAR **

In [34]:
#Year
print('Year:',data['Time'].dt.year.head(1))
#Year Start or not
print('Year Start or not:',data['Time'].dt.is_year_start.head(1))
#Year end or not
print('Year end or not:',data['Time'].dt.is_year_end.head(1))
#Leap year or not
print('Leap year or not:',data['Time'].dt.is_leap_year.head(1))

Year: 0    1930
Name: Time, dtype: int64
Year Start or not: 0    False
Name: Time, dtype: bool
Year end or not: 0    False
Name: Time, dtype: bool
Leap year or not: 0    False
Name: Time, dtype: bool

## Datetime Methods

## Timedelta Properties

## Timedelta Methods